{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block meta_header %}
    {% if blog %}
    <title>Summit Neuro | {{ blog.title }}</title>
    <meta name="description" content="Summit Neuro – Bellevue’s Leader in Concussion Recovery, Brain Fog Relief, Dizziness Care & Cognitive Boost Using Advanced Neural AI Assessments.">
    <meta name="description" content="Summit Neuro – Bellevue’s Leader in Concussion Recovery, Brain Fog Relief, Dizziness Care & Cognitive Boost Using Advanced Neural AI Assessments.">
    <meta property="og:title" content="Summit Neuro | Concussion Recovery & Brain Performance in Bellevue">
    <meta property="og:description" content="Personalized concussion care, brain fog relief, dizziness treatment & cognitive optimization using advanced Neural AI assessments.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.summitneuro.com">
    <meta property="og:image" content="{% static 'assets/images/summitneuro_master_logo.png' %}" />
    {% endif %}
    
{% endblock meta_header %}
{% block content %}
<!-- Start Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Blog Details</h2>
            
            <ul class="pages-list">
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                {% if blog %}
                <div class="blog-details-desc">
                    <div class="article-image">
                        {% if blog.image %}
                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                        {% endif %}

                        <div class="tag">{{ blog.created_at|date:"d M" }}</div>
                    </div>
                    <div class="article-content">
                        <h3>{{ blog.title }}</h3>
                        <p>{{ blog.description|safe }}</p>

                        <div class="article-tag">
                            <span>Share:</span>
                            <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="https://twitter.com/?lang=en" target="_blank"><i class='bx bxl-twitter'></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
                {% else %}
                <h3 class="text-center">Blog not found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->
{% endblock content %}